<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460798120281-tqtu17ir2flc0mic26kqj12f354dcu39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460798120281-tqtu17ir2flc0mic26kqj12f354dcu39</string>
	<key>API_KEY</key>
	<string>AIzaSyACaYFfjBTScemI0Ztr7AhshBFHof09B0I</string>
	<key>GCM_SENDER_ID</key>
	<string>460798120281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nikeShoeShop</string>
	<key>PROJECT_ID</key>
	<string>nike-shoe-shop-black-coda</string>
	<key>STORAGE_BUCKET</key>
	<string>nike-shoe-shop-black-coda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460798120281:ios:b2360a99a9d888e54ffc48</string>
</dict>
</plist>